SECRET_KEY=change-me-to-a-random-secret-key
DATABASE_URL=sqlite:///./monogram.db
CORS_ORIGINS_STR=https://f1w6ggb2-5173.euw.devtunnels.ms/
FRONTEND_URL=https://f1w6ggb2-5173.euw.devtunnels.ms/
SMTP_USER=
SMTP_PASSWORD=
REDIS_ENABLED=false
MAX_FILE_SIZE_MB=50
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YOOMONEY_WALLET=
YOOMONEY_SECRET_KEY=
BACKEND_PUBLIC_URL=https://f1w6ggb2-8000.euw.devtunnels.ms/
